<footer class="page__footer">
  <div class="button-footer-container">
    <a class="button-footer" href="#" title="Ir al inicio de la página">
      <img src="./assets/images/ico-arrow.svg" />
    </a>
  </div>

  <nav>
    <ul class="footer-menu">
      <li>
        <a href="https://adalab.es/">Articles</a>
      </li>
      <li>
        <a href="https://adalab.es/">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/">Events</a>
      </li>
      <li>
        <a href="https://adalab.es/">Reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/">Tips</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="footer-social">
      <li>
        <a href="https://adalab.es/">Twitter</a>
      </li>
      <li>
        <a href="https://adalab.es/">Instagram</a>
      </li>
      <li>
        <a href="https://adalab.es/">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="copy">
    <span>&copy; 2017</span>
    <span>We ❤ components</span>
  </div>
</footer>
