<footer class="page__footer">
  <div class="footer__button">
    <a href="#home" title="Ir al inicio de la página">
      <img
        src="./assets/images/ico-arrow.svg"
        alt="Icono para ir al inicio de la página"
      />
    </a>
  </div>
  <nav class="footer__menu">
    <ul class="menu__list">
      <li>
        <include src="./links.html" text="Articles"></include>
      </li>
      <li>
        <include src="./links.html" text="Books"></include>
      </li>
      <li>
        <include src="./links.html" text="Events"></include>
      </li>
      <li>
        <include src="./links.html" text="Reasons"></include>
      </li>
      <li>
        <include src="./links.html" text="Tips"></include>
      </li>
    </ul>
  </nav>
  <nav class="footer__social">
    <ul class="social__list">
      <li>
        <include src="./links.html" text="Twitter"></include>
      </li>
      <li>
        <include src="./links.html" text="Instagram"></include>
      </li>
      <li>
        <include src="./links.html" text="Mastodon.social"></include>
      </li>
    </ul>
  </nav>
  <div class="copy">
    <span>&copy; 2017</span>
    <span>We <span class="emoji">❤</span> components</span>
  </div>
</footer>
