<header class="page__header">
  <div class="wrapper">
    <div class="header-container">
      <a
        class="header-button"
        href="https://adalab.es/"
        title="Ir a la web de Adalab"
      >
        <img src="./assets/images/ico-menu.svg" />
      </a>
    </div>
    <section class="hero">
      <h1>Anonymous proxy</h1>
      <span>In hac habitasse platea dictumst</span>
      <div class="button-hero-container">
        <a
          class="button-hero"
          href="#"
          title="Ir a la sección 3 Reasons to Purchase"
        >
          <img src="./assets/images/ico-scroll-down.svg" />
        </a>
      </div>
    </section>
  </div>
</header>
