<header class="page__header" id="home">
  <div class="header__wrapper">
    <div class="header__menu">
      <a
        class="header__button"
        href="https://adalab.es/"
        title="Ir a la web de Adalab"
      >
        <img
          class="menu__logo"
          src="./assets/images/ico-menu.svg"
          alt="Logo del menú"
        />
      </a>
    </div>
    <section class="hero">
      <div class="hero__title">
        <h1 class="hero__title__h1">
          <span>Anonymous</span>
          <span>Proxy</span>
        </h1>
        <p class="hero__title__text">In hac habitasse platea dictumst</p>
      </div>
      <div class="hero__button">
        <a href="#reasons" title="Ir a la sección 3 Reasons to Purchase">
          <img
            src="./assets/images/ico-scroll-down.svg"
            alt="Ir a la sección 3 Reasons to Purchase"
          />
        </a>
      </div>
    </section>
  </div>
</header>
