<header class="page__header">
  <div class="wrapper">
    <section class="header">
      <div class="header-container">
        <a
          class="header-button"
          href="https://adalab.es/"
          title="Ir a la web de Adalab"
        >
          <img src="./assets/images/ico-menu.svg" />
        </a>
      </div>
    </section>
    <section class="hero">
      <h1 class="hero-title">
        <span>Anonymous</span>
        <span>Proxy</span>
      </h1>
      <span class="hero-text">In hac habitasse platea dictumst</span>
      <div class="button-hero-container">
        <div class="button-hero">
          <a href="#" title="Ir a la sección 3 Reasons to Purchase">
            <img src="./assets/images/ico-scroll-down.svg" />
          </a>
        </div>
      </div>
    </section>
  </div>
</header>
