<main class="page__main">
  <section class="tips">
    <div class="wrapper">
      <article class="section-tips">
        <span class="insomnia-tips">Insomnia tips</span>
        <div class="tips-text">
          <h3 class="tips-title">Looking through a window</h3>
          <p class="section-text">
            Donec accusan, nulla ut volutpat porttitor, quam odio tempus felis,
            at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
          </p>
        </div>
        <div class="tips-button">
          <span class="go-button">Go</span>
        </div>
      </article>
    </div>
  </section>
  <section class="reasons">
    <div class="wrapper">
      <h2 class="section-title">3 reasons to purchase</h2>
      <article class="reason1">
        <h3>Ut sed metus</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur.
        </p>
      </article>
      <article class="reason2">
        <h3>Curabitur ac erat</h3>
        <p>
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="reason3">
        <h3>Morbi dictum</h3>
        <p>
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>
      <div class="reasons-button">
        <span>More reasons</span>
      </div>
    </div>
  </section>
</main>
