<main class="page__main">
  <section class="tips">
    <div class="wrapper">
      <article class="setion-tips">
        <small>Insomnia tips</small>
        <div class="tips-text">
          <h3>Looking through a window</h3>
          <p>
            Donec accusan, nulla ut volutpat porttitor, quam odio tempus felis,
            at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
          </p>
        </div>
        <div class="tips-button">
          <span>Go</span>
        </div>
      </article>
    </div>
  </section>
  <section class="reasons">
    <div class="wrapper">
      <h2>3 reasons to purchase</h2>
      <article class="reason">
        <h3>Ut sed metus</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur.
        </p>
      </article>
      <article class="reason">
        <h3>Curabitur ac erat</h3>
        <p>
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="reason">
        <h3>Morbi dictum</h3>
        <p>
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>
      <div class="reasons-button">
        <span>More reasons</span>
      </div>
    </div>
  </section>
</main>
