<main class="page__main">
  <section class="main__tips">
    <div class="main__tips--wrapper">
      <article class="tips">
        <span class="tips__text">Insomnia tips</span>
        <h3 class="tips__title">
          <span>Looking through a window</span>
        </h3>
        <p>
          Donec accusan, nulla ut volutpat porttitor, quam odio tempus felis, at
          luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <div class="go__button">
          <a href="https://adalab.es/" title="Ir a la web de Adalab">Go</a>
        </div>
      </article>
    </div>
  </section>
  <section class="reasons" id="reasons">
    <div class="reasons__wrapper">
      <h2 class="reasons__title">3 reasons to purchase</h2>
      <article class="reasons__1">
        <h3>Ut sed metus</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur.
        </p>
      </article>
      <article class="reasons__2">
        <h3>Curabitur ac erat</h3>
        <p>
          Mauris mattis urna quis lorem molestie.
        </p>
      </article>
      <article class="reasons__3">
        <h3>Morbi dictum</h3>
        <p>
          Aliquam in dolor et dolor tincidunt.
        </p>
      </article>
      <div class="reasons__button">
        <a href="https://adalab.es/" title="Ir a la web de Adalab"
          >More reasons</a
        >
      </div>
    </div>
  </section>
</main>
