/* FONTS */

$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto Slab", serif;
$font-size: 16px;

/* COLORS */

$color-button: #f26002;
$color-light: #ffffff;
$color-dark: #000000;
$color-header: #0271bc;
$color-main: #8ccbea;
$color-backgroundmain: #eff9ff;
$color-footer: #304268;
$color-tips: #4a4a4a;
