.page__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 320px;
  margin: auto;
  min-height: 465px;
  color: $color-light;
  background-color: $color-footer;
  font-family: $font-primary;
  font-weight: $weight-regular;

  .footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-3px, -24px);
    color: $color-button;
    background-color: $color-light;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 30px;

    li {
      padding: 2px;
    }
  }

  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: 30px;

    li {
      padding: 2px;
    }
  }

  .copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 45px;
    line-height: 30px;
    text-transform: lowercase;

    .emoji {
      color: $color-button;
    }
  }

  @include tablet {
    min-height: 240px;
    // padding: 45px 39px;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;

    .menu__list {
      width: 210px;
      align-items: left;
      text-align: left;
      order: 2;
    }

    .social__list {
      width: 210px;
      text-align: left;
      order: 3;
    }

    .copy {
      width: 210px;
      order: -1;
      span {
        text-align: left;
      }
    }

    .footer__button {
      transform: translate(-3px, -128px);
    }
  }

  @include desktop {
    // padding: 45px 370px;
    justify-content: center;

    .menu__list {
      width: 161px;
      order: 2;
    }

    .social__list {
      width: 159px;
    }

    .copy {
      width: 159px;
    }
  }
}
