.page__header {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header__wrapper {
    width: 100%;
    margin: auto;
    padding: 0 15px;
    max-width: 1200px;

    .header__button {
      width: 44px;
      height: 44px;
      background-color: $color-header;
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;

      .header__logo {
        width: 100%;
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-height: 568px;
    height: 100vh;
    padding-bottom: 53px;
    color: $color-light;

    &__title {
      text-align: center;
      padding-bottom: 45px;

      &__h1 {
        font-family: $font-secondary;
        font-size: 2.62rem;
        text-transform: uppercase;
        line-height: 55px;
        margin: 0;
        animation-duration: 0.8s;
        animation-name: intro;
        animation-iteration-count: 1;
        animation-timing-function: linear;

        span {
          display: block;
        }
      }
      @keyframes intro {
        from {
          transform: scale(10) rotate(-150deg);
          opacity: 0;
        }
        to {
          transform: scale(1);
          opacity: 1;
        }
      }

      p {
        font-family: $font-primary;
        font-weight: $weight-regular;
        margin-top: 10px;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-light;
      width: 45px;
      height: 45px;
      border-radius: 22.5px;

      img {
        width: 20px;
        height: 11.7px;
      }
    }
  }

  @include tablet {
    .hero {
      max-height: 768px;
      padding-bottom: 45px;

      &__title {
        padding-bottom: 30px;

        &__h1 {
          font-size: 5rem;
          line-height: 106px;
        }

        p {
          margin-top: 20px;
        }
      }
    }
  }

  @include desktop {
    .hero {
      padding-bottom: 13px;

      &__title {
        h1 {
          font-size: 6.25rem;
          line-height: 132px;
        }
        p {
          margin-top: 0;
        }
      }
    }
  }
}
