.page__main {
  &__tips--wrapper {
    width: 100%;
    max-width: 1280px;
    max-height: 376px;
  }

  .tips {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 30px 15px 45px 15px;

    font-family: $font-primary;
    font-weight: $weight-regular;

    &__text {
      color: $color-main;
      text-transform: capitalize;
      font-size: 0.87rem;
      line-height: 30px;
      margin-bottom: 1px;
      margin-top: 0;
      width: 90px;
      height: 30px;
    }

    &__title {
      font-family: $font-secondary;
      text-transform: capitalize;
      font-size: 1.5rem;
      line-height: 30px;
      margin-bottom: 15px;
      width: 290px;
      height: 60px;
    }

    p {
      font-size: 1.12rem;
      color: $color-tips;
      line-height: 30px;
      margin-bottom: 30px;
      width: 290px;
      height: 120px;
    }

    .go__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 76px;
      height: 45px;
      background-color: $color-light;
      border: solid 2px $color-button;
      border-radius: 22.5px;
      text-align: center;

      a {
        color: $color-button;
        font-size: 1.25rem;
        transition: font-size ease 1s;
        font-weight: $weight-medium;
        line-height: 45px;
      }
      a:hover {
        font-size: 2rem;
      }
    }
  }

  .reasons {
    background-color: $color-backgroundmain;
    font-family: $font-primary;
    font-weight: $weight-regular;

    &__title {
      grid-column: span 5;
      font-family: $font-secondary;
      font-size: 1.5rem;
      line-height: 30px;
      text-transform: capitalize;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 45px;
      text-align: center;
      place-items: center;
      margin: auto;
      max-width: 1280px;
      max-height: 624px;
      width: 100%;
      padding: 30px 0 60px;
    }

    h3 {
      font-family: $font-secondary;
      font-size: 1.12rem;
      line-height: 30px;
      margin: 0;
    }

    p {
      font-size: 1.12rem;
      line-height: 30px;
      margin: 0;
    }

    &__1 {
      grid-column: 2 / 5;
    }

    &__2 {
      grid-column: 2 / 5;
    }

    &__3 {
      grid-column: 2 / 5;
    }

    &__button {
      grid-column: 2 / 5;
      background-color: $color-button;
      transition: background-color ease 1s;
      width: 184px;
      height: 45px;
      border-radius: 22.5px;
      text-align: center;
      margin-bottom: 60px;

      a {
        font-size: 1.25rem;
        color: $color-light;
        transition: color ease 1s;
        line-height: 45px;
        font-weight: $weight-medium;
      }
      a:hover {
        color: $color-button;
      }
    }
    &__button:hover {
      background-color: $color-footer;
    }
  }

  @include tablet {
    .tips {
      height: 330px;
      padding: 30px 39px 60px 39px;

      &__text {
        width: 216px;
        height: 30px;
      }
      &__title {
        font-size: 1.62rem;
        line-height: 45px;
        margin-bottom: 30px;
        width: 690px;
        height: 45px;
      }

      p {
        font-size: 1.25rem;
        width: 690px;
        height: 60px;
      }

      .go__button {
        width: 91px;
      }
    }

    .reasons {
      &__title {
        font-size: 1.62rem;
        line-height: 45px;
      }

      &__wrapper {
        grid-template-columns: repeat(3, 1fr);
        max-height: 397px;
        padding: 30px 40px 60px 35.7px;
      }

      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.25rem;
        margin-top: 14px;
      }

      &__1 {
        grid-column: 1 / 2;
        margin-right: 27.7px;
      }

      &__2 {
        grid-column: 2 / 3;
        margin-right: 27.7px;
        margin-left: 10px;
      }

      &__3 {
        grid-column: 3 / 4;
        height: 100%;
      }

      &__button {
        width: 210px;
        grid-column: 2 / 3;
        margin-top: 15px;
      }
    }
  }

  @include desktop {
    .tips {
      height: 360px;
      padding: 60px 275px 60px 275px;

      &__text {
        width: 360px;
      }
      &__title {
        font-size: 2rem;
        width: 730px;
      }

      p {
        width: 730px;
      }

      .go__button {
        width: 160px;
      }
    }

    .reasons {
      &__title {
        font-size: 2rem;
      }

      &__wrapper {
        max-height: 427px;
        padding: 60px 85px 60px 81.2px;
      }

      h3 {
        font-size: 1.5rem;
      }

      &__button {
        width: 255px;
      }
    }
  }
}
